{%extends 'base.html'%}

{%block content%}
    <div class="container mt-2">
        <ul class="list-group">
            {% if 'error' not in data %}
                {% for key,value in data.items()%}
                    <li class="list-group-item text-break">{{key}}</li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">{{data['error']}}</li>
            {% endif%}
        </ul>
    </div>

    <button class="btn btn-outline-success me-2 getCapList" type="button">Get CapList</button>
    <button class="btn btn-outline-success me-2 UpdateCapList" type="button">Update CapList</button>
   

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="{{ url_for('static',filename='js/logic.js')}}"></script>
    <script src="{{ url_for('static',filename='node_modules/js-sha3/src/sha3.js')}}"></script>
{%endblock%}
